
/* all */
.container {position: relative; display: block; max-width: 1400px; width: 100%; height: 100%; margin: 0 auto; /* overflow: hidden; */  /*padding: 100px 0;*/}

/* wrap */
#Wrap {width: 100%; height: 100%; padding-top: 92px; position: relative;}
.title-bg { position: fixed; left: 50%; top: 20%; transform: translate(-50%, -50%); font-size: 11vw; z-index: -1; color: #e8ebf7; /* edeff7 */  font-weight: 900; white-space: nowrap;}

/* header */
#header_Wrap {width: 100%; height: auto; position: fixed; left: 0; top: 0; z-index: 100;  background-color: transparent; transition: .5s; /* box-shadow: 0 2px 2px rgba(0, 0, 0 , 0.1); */}
.headerwrap {transition: .5s; /* max-width: 1400px; */ width: 100%; padding: 15px 50px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; position: relative;}
.headerwrap .logo a {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}
.headerwrap .logo a img {width: 100%; height: 100%; object-fit: cover;}
.headerwrap .list_wrap { /* width: 100%; */ display: flex; justify-content: flex-end;}
.headerwrap .list_wrap .list { width: 100%; display: flex; align-items: center; padding: 20px 0;}
.headerwrap .list_wrap .list_ho { font-size: 18px; padding: 0 20px; text-align: center; position: relative; display: flex; justify-content: center; align-items: center;}
.headerwrap .list_wrap .list_ho > a {color: #000; cursor: pointer; position: relative; font-weight: 500; /* margin: 15px 0; */ transition: .4s ease;  display: inline-block; }

.mo_btn_wrap {z-index: 1;}
.mo_btn { width: 30px; height: 40px; box-sizing: border-box; padding-top: 2px; background: transparent; }
.mo_btn span { display: block; width: 30px; height: 4px; background-color: #000; margin: 0 auto; margin-bottom: 5px; -webkit-transition: all 0.3s; transition: all 0.3s; }

.mo_btn.act span { background-color: #F4F7FF; }
.mo_btn.act .line1 { -webkit-transform: translateY(8px) translateX(-3px) rotate(45deg); transform: translateY(8px) translateX(-3px) rotate(45deg);} 
.mo_btn.act .line2 {opacity: 0;} 
.mo_btn.act .line3 { -webkit-transform: translateY(-10px) translateX(-3px) rotate(-45deg); transform: translateY(-10px) translateX(-3px) rotate(-45deg);} 

#gnb { display: block; position: fixed; right: -100%; top: 0px; width: 50%; height: 100vh; background: #5f7dcd; transition: .4s ease;}
#gnb.ani { right: 0px; }
#gnb .list {width: 90%; height: 100%; margin: 0 auto; display: flex; align-items: center; justify-content: center; flex-direction: column;}
#gnb .list .list_ho { line-height: 1.5; padding: 10px 0;}
#gnb .list .list_ho a { display: block; width: 100%; height: 100%; font-size: 48px; color: #F4F7FF; font-weight: bold; font-style: normal; transition: .5s;}
#gnb .list .list_ho a:hover {color: #000;}

/* footer */
#footer_Wrap {width: 100%; height: 100%; position: relative;}
.footerwrap {text-align: center; padding: 16px 0px;}

.footerwrap p {font-size: 14px; color: #717171; font-family: 'Montserrat';}
